
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center text-center">
            <h1 class="error-number">403</h1>
            <h2>Sorry but your access denied to see this page</h2>
            <p>
                Please login web site to access this page <a href="mailto:caner@ajansmedya.com">Report this?</a>
            </p>
            <p><a href="/Account/Login" target="_self">Login</a></p>
        </div>
    </div>
</div>

