
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center text-center">
            <h1 class="error-number">500</h1>
            <h2>Sorry</h2>
            <p>
                There has been an error while executing this page. <a href="mailto:caner@ajansmedya.com">Report this?</a>
            </p>

        </div>
    </div>
</div>

